@font-face {
    font-family: NeueMontreal;
    src: url(./NeueMontreal-Regular.otf);
}

@font-face {
    font-family: RecklessNeue;
    src: url(./RecklessNeue-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.home-page {
    background-image: url(./image-mobile/Homepage-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
     /* cover -> for full screen */
     background-clip: unset;

     height: 701px;
}

nav {
    height: 64px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.guide-page {
    padding-left: 16px;
}

.shopping-guide-line > .guide-page > hr {
    width: 27px;
    margin-bottom: 5px;
}

.shopping-guide-line > .guide-page > p {
    color: White;
    width: 24px;

    position: absolute;
    top: 16px;
    left: 43px;

    padding-left: 16px;
}

.shopping-guide-line {
    display: flex;
    justify-content: center;
    gap: 16px;

    padding-top: 16px;
}

.brand-name > image {
    position: absolute;
    top: 22.5px;
}

.shopping-bag > p {
    position: absolute;
    right: 44px;
    top: 16px;
}

.shopping-bag > img {
    width: 20px;
}

.shopping-bag > p {
    color: White;
}

.shopping-bag {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.nav > * > p {
    font-family: NeueMontreal;
    font-size: 12px;
    line-height: 32px;
    font-weight: 400;
}

.home-guide-text > span > h1 {
    font-family: RecklessNeue;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    color: White;

    width: 300px;
    height: 84px;

    text-align: center;
}

button {
    width: 137px;
    height: 30px;

    padding: 8px 36px;

    background-color: #FFF8DC;
    border:0ch transparent;
    border-radius: 8px;
}

.home-guide-text {
    width: 300px;
    height: 162px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    text-align: center;
}

.home-guide-text_wrapper {
    padding-top: 280px;
    padding-bottom: 290px;

    display: flex;
    justify-content: center;
}

@media (min-width: 1024px) {
    .home-page {
        background-image: url(./background-image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        /* cover -> for full screen */
        background-clip: unset;

        height: 737px;
    }
    nav {
        height: 52px;
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .shopping-guide-line > .guide-page {
        padding-left: 72px;
    }

    .shopping-guide-line > p {
        padding-left: 72px;

        text-align: center;
    }

    .shopping-bag > p {
        padding-right: 72px;
    }

    .shopping-bag > img {
        padding-right: 72px;
    }
}

.intro-page {
    background-color: white;
}

.introduction-text_content > h2 {
    font-family: RecklessNeue;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;

    margin-bottom: 36px;
}

.introduction-text_content > p {
    font-family: NeueMontreal;
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;

    margin-bottom: 24px;
}

.introduction-text_content {
    width: 343px;
    height: 295px;

    text-align: center;
}

button {
    width: 178px;
    height: 30px;

    padding: 8px 36px;

    background-color: white;
    border: 1px solid #DFDEDB;
    border-radius: 8px;
}

.introduction-text_wrapper {
    padding-top: 188px;
    padding-bottom: 268px;

    width: 343px;
    height: 295px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.introdution-image_desktop {
    visibility: hidden;
    display: none;
}

.introdution-image_mobile > :nth-child(1) {
    position: absolute;
    top: 742px;
    left: 32px;

    width: 147px;
}

.introdution-image_mobile > :nth-child(2) {
    position: absolute;
    top: 827px;
    left: 292px;
    right: 7px;

    width: 76px;
}

.introdution-image_mobile > :nth-child(3) {
    position: absolute;
    top: 939px;
    left: -65px;

    width: 102px;
}

.introdution-image_mobile > :nth-child(4) {
    position: absolute;
    top: 923px;
    left: 353px;
}

.introdution-image_mobile > :nth-child(5) {
    position: absolute;
    top: 1208px;
    left: -130px;

    width: 182px;
}

.introdution-image_mobile > :nth-child(6) {
    position: absolute;
    top: 1272px;
    left: 252px;
}

.feature-product-container > hr {
    color: #DFDEDB;

    width: 100%;
}

.feature-product-container > h2 {
    font-family: RecklessNeue;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;

    text-align: center;

    margin-top: 24px;
    margin-bottom: 24px;
}

.feature-product-card > img {
    width: 171.5px;
    height: 154px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding: 8px;
}

.feature-product-card :first-child {
    border-left: 1px solid #DFDEDB;
    border-bottom: 1px solid #DFDEDB;
}

.feature-product-card :nth-child(2) {
    border-right: 1px solid #DFDEDB;
    border-left: 1px solid #DFDEDB;
    border-bottom: 1px solid #DFDEDB;
}

.feature-product-card :nth-child(3) {
    border-left: 1px solid #DFDEDB;
}

.feature-product-card :nth-child(4) {
    border-right: 1px solid #DFDEDB;
    border-left: 1px solid #DFDEDB;
}

.feature-product-card > .text-card > p {
    border-top: 0px;
    border-bottom: 0px;
}

.feature-product-card > img {
    border-bottom: 0px;
}

 .text-card > p {
    font-family: NeueMontreal;
    color: #323334;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    padding-bottom: 24px;
}

.text-card > :last-child{
    padding-bottom: 8px;
}

.feature-product-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.feature-product-shop-all > hr {
    color: #DFDEDB;
    width: 100%;
}

.feature-prudoct-shop-all > P {
    font-family: NeueMontreal;
    color: #323334;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    text-align: center;

    margin: 24px;
}

@media (min-width: 1024px) {
    .introduction-text_content > h2 {
        font-style: italic;
    }

    .introduction-text_wrapper {
        padding: 34%;
        padding-top: 323px;

        display: flex;
        align-items: center;
    }

    .introdution-image_mobile {
        visibility: hidden;
        display: none;
    }

    .introdution-image_desktop {
        visibility: visible;
        display: flex;
    }

    .introdution-image_desktop > :nth-child(1) {
        position: absolute;
        top: 767px;
        left: 37%;

        width: 332px;
    }

    .introdution-image_desktop > :nth-child(2) {
        position: absolute;
        top: 999px;
        left: 74%;

        width: 172px;
    }

    .introdution-image_desktop > :nth-child(3) {
        position: absolute;
        top: 948px;
        left: 2%;

        width: 231px;
    }

    .introdution-image_desktop > :nth-child(4) {
        position: absolute;
        top: 1188px;
        left: 84.5%;

        width: 200px;
    }

    .introdution-image_desktop > :nth-child(5) {
        position: absolute;
        top: 1240px;
        left: 0;

        width: 413px;
    }

    .introdution-image_desktop > :nth-child(6) {
        position: absolute;
        top: 1427px;
        left: 61.5%;

        width: 355px;
    }

    .feature-product-card > img {
        width: 330px;
        height: 331px;
    }

    .feature-product-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .text-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .text-card > :last-child {
        padding-bottom: 24px;
    }

    .feature-product-card :first-child {
        border: 0px;
    }

    .feature-product-card :nth-child(2) {
        border: 0px;
    }

    .feature-product-card :nth-child(3) {
        border: 0px;
    }

    .feature-product-card :nth-child(4) {
        border: 0px;
    }

    .feature-prudoct-shop-all > :last-child {
        margin-bottom: 22px;
    }
}

.native-light-zone-container {
    background-color: #384353;
    height: 770px;
}

.native-light-zone-container > img {
    width: 343px;
    height: 319.18px;

    padding: 16px;

    display: flex;
    align-items: center;
}

.native-light-zone-text > h2{
    font-family: RecklessNeue;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;

    color: #FCFDFD;

    padding-bottom: 48px;
    padding-left: 16px;
    padding-right: 16px;
}

.native-light-zone-text :nth-child(2) {
    font-family: NeueMontreal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;

    color: #FCFDFD;

    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
}

.native-light-zone-text :nth-child(3) {
    font-family: NeueMontreal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #FCFDFD;

    padding-left: 16px;
    padding-right: 16px;

}

.native-light-zone-text > * {
    text-align: left;
}

.native-light-zone-text {
    padding-top: 40px;

}

.passing-page-image-container {
    background-image: url(./image-mobile/pass-page-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: unset;

    height: 664px;
}

.chair-image-wrapper {
    visibility: visible;
    display: none;
}

.drawer-image-wrapper {
    visibility: visible;
    display: none;
}

@media (min-width: 1024px) {
    .native-light-zone-container {
        height: 670px;
    }

    .native-light-zone-container > img {
        height: 670px;
        width: 50%;
        position: absolute;
        left: 50%;

        margin: 0;
        padding: 0;
    }

    .native-light-zone-text {
        width: 405px;
        height: 280px;

       position: absolute;
       top: 2398px;
       left: 157px;
    }

    .passing-page-image-container {
        background-image: url(./pass-page-background-image.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: unset;

        height: 1081px;
    }

    .chair-image-wrapper {
        visibility: visible;
        display: flex;
        flex-direction: column;

        width: 251px;
        height: 301px;

        padding: 20px 20px 44px 20px;
        background-color: #FFFFFF;

        position: absolute;
        top: 3193px;
        left: 7.3%;
        
    }

    .drawer-image-wrapper {
        visibility: visible;
        display: flex;
        flex-direction: column;

        width: 251px;
        height: 301px;

        padding: 20px 20px 44px 20px;
        background-color: #FFFFFF;

        position: absolute;
        top: 3611px;
        left: 74.5%;
    }

    .passing-page-words > p {
        font-family: NeueMontreal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #384353;
    }

    .passing-page-words {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin-top: 10px;
    }
}